* {
    margin: 0px; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #CACCCF; }


#display {
    text-align: center;
}

.highlights {
    text-justify: auto;
    padding: 50px;
    margin-top: 50px;
}

.weatherContainer {
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    
}

.temp {
    float:left;
}
.icons{
    float: left;
    width: 5%;
    height: 5%;
}
